.app-container {
  display: flex;
}

.main-content {
  margin-left: 270px; /* Adjusted to fit sidebar */
  padding: 40px;
  width: 100%;
}

.dashboard-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.dashboard-text {
  font-size: 16px;
  color: #555;
}
